.DS_Store
__pycache__
.spyproject/
*.mat
*.wav
*.txt
*.ipynb
tempCodeRunnerFile.sh
matlab/dev/html/
!*.log
*.csv
*.xlsx
*.zip
*.npy
.vscode
.streamlit
.ipynb_checkpoints
!swifttrack.ipynb
*.tflite
.venv
venv/